<div class="table">
  <div class="tabe__filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [formControl]="filterControl" />
    </mat-form-field>
  </div>
  @for (row of tableRows; track $index) {
  <div class="table__row">
    <p class="table__row-number">{{row.rowNumber}}</p>
    @for (tile of row.tiles; track $index) {
    @if (
    tile.element
    ) {
    <div class="table__tile" [class.table__tile--highlighted]="tile | checkTile : highlightedTiles" [ngClass]="'table__tile--' + tile.element.type | propToClass" (click)="openEditDialog(tile)">
      <span class="table__position">{{tile.element.position}}</span>
      <span class="table__symbol">{{tile.element.symbol}}</span>
      @if (!(isMobile$ | async)) {
      <span class="table__name">{{tile.element.name}}</span>
      <span class="table__weight">{{tile.element.weight}}</span>
      }
    </div>
    }
    @else {
    <div class="table__tile table__tile--empty"></div>
    }
    }
  </div>
  }
</div>